<p>🌈 {{deviceName}}</p>
<ul *ngIf="device.duties">
  <li><span class="itemLabel">Red: </span>{{device.duties.Red}}</li>
  <li><span class="itemLabel">Green: </span>{{device.duties.Green}}</li>
  <li><span class="itemLabel">Blue: </span>{{device.duties.Blue}}</li>
  <li><span class="itemLabel">White: </span>{{device.duties.White}}</li>
  <li><span class="itemLabel">Ultra Violet: </span>{{device.duties.UltraViolet}}</li>
</ul>
<input
  [style.background]="rgbColor"
  [cpAlphaChannel]="'disabled'"
  [(colorPicker)]="rgbColor"
  [cpPresetColors]="['#00f', '#0f0', '#0ff', '#f00', '#f0f', '#ff0']"
  (colorPickerChange)="changeColor($event)"
/>
<input
  [(colorPicker)]="whiteIntensity"
  [cpColorMode]="'grayscale'"
  [cpAlphaChannel]="'disabled'"
  [style.background]="whiteIntensity"
  (colorPickerChange)="changeWhite($event)"
/>

