<p>🌈 {{deviceName}}</p>
<ul *ngIf="device.duties">
  <li><span class="itemLabel">Red: </span>{{scaledColors.Red}}</li>
  <li><span class="itemLabel">Green: </span>{{scaledColors.Green}}</li>
  <li><span class="itemLabel">Blue: </span>{{scaledColors.Blue}}</li>
  <li><span class="itemLabel">White: </span>{{scaledColors.White}}</li>
  <li><span class="itemLabel">Ultra Violet: </span>{{scaledColors.UltraViolet}}</li>
</ul>
<input
  [style.background]="rgbColor"
  [(colorPicker)]="rgbColor"
  (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
  (colorPickerClose)="onEventLog('colorPickerClose', $event)"
  (cpInputChange)="onEventLog('cpInputChange', $event)"
  (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
  (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
/>
