<p>🌈 {{deviceName}}</p>
<div class = "rgbwControls">

  <input
    [cpAlphaChannel]="'disabled'"
    [(colorPicker)]="rgbColor"
    [cpDialogDisplay]="'inline'"
    [cpDisableInput]="true"
    [cpToggle]="true"
    [cpPresetColors]="['#00f', '#0f0', '#0ff', '#f00', '#f0f', '#ff0', '#000', '#333', '#666', '#999', '#ccc', '#fff']"
    (colorPickerChange)="changeColor($event)"
  />
</div>
<span>{{device.script}}</span>
<div class="enableObservables" *ngFor="let result of results$ | async" ></div>


