<div *ngIf="messageService.messages.length">

  <h2>📝 Messages</h2>
  <button (click)=toggleDisplayDiv() >
    <span *ngIf="isShowDiv; then thenBlock else elseBlock"></span>
    <ng-template #thenBlock>Hide Messages</ng-template>
    <ng-template #elseBlock>Show Messages</ng-template>
  </button>
  <button class="clear"
          (click)="messageService.clear()">Clear messages</button>
  <div [hidden]="!isShowDiv" *ngFor='let message of messageService.messages' class="{{message.severity}}">{{message.message}} </div>

</div>

