<h2>🎛 My Devices</h2>
<div class="devices">

  <div *ngFor="let device of devices">
    <div *ngIf="device">

      <!-- original prototype = 3c:71:bf:6d:16:bc -->
      <div *ngIf="device.MacAddress == '7c:9e:bd:f2:ed:24'; then showTvLights else showUnknownDevice"></div>

      <ng-template #showTvLights>
        <app-rgbw-color-selector [device]="device"></app-rgbw-color-selector>
      </ng-template>

      <ng-template #showUnknownDevice>
        <h3>Unmapped Device with mac address {{device.MacAddress}}</h3>
        <div><span class="itemLabel">IP: </span>{{device.IP}}</div>
        <div><span class="itemLabel">Program: </span>{{device.Program}}</div>
        <div><span class="itemLabel">Program Version: </span>{{device.ProgramVersion}}</div>
      </ng-template>

    </div>
  </div>
</div>
